* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  overflow: hidden;
  color: white;
}

#bg {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.app {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  position: absolute;
  width: 85%;
  max-width: 360px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 40px rgba(130,0,255,.6);

  opacity: 0;
  transform: scale(.9);
  transition: .4s ease;
  pointer-events: none;
}

.page.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

h1 {
  margin-bottom: 10px;
}

p {
  opacity: .8;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;

  background: linear-gradient(135deg,#7f00ff,#00c6ff);
  color: white;
  font-size: 16px;
}

button.ghost {
  background: transparent;
  border: 1px solid rgba(255,255,255,.3);
}
